allow hal_fingerprint_default sdcardfs:dir { search };
allow hal_fingerprint_default vfat:dir { search };
allow hal_fingerprint_default sysfs_leds:dir { search };
allow hal_fingerprint_default sysfs_battery_supply:dir { search };
allow hal_fingerprint_default vfat:file { read };
allow hal_fingerprint_default sysfs_leds:file { read };
allow hal_fingerprint_default sysfs_battery_supply:file { read };
allow hal_fingerprint_default vfat:file { open };
